body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}


.todo {
    display: flex;
}

.contactos {
    display: flex;
    flex-direction: column;
    width: 350px;

}
.iconos {
   
margin-left: 2em;

}


.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
    
    
}
.datos h5 {
    margin-top: 0em;
    margin-bottom: 0em;
    justify-content: center;
}

.datos p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.boton {
   
    display: flex;
    justify-content: center;
    color: white;
 
    background-color: #A491D2;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em ;
    margin-right: 2em;

}

.foto {
    display: flex;
    margin: 0.5em;
    border: solid 1px #BEC1BB;
    margin: 0;
    padding: 0.6em;
  
}

.mano {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E8EBE4;
}

.mano h2 {
    font-size: xx-large;
}

.mano p {

    text-align: center;

}